.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.navList {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo {
    width: 75px;
    height: 75px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.link:hover {
    color: #FFF89A;
}

.cartButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}